<h1>User Index Page! Find a Friend!</h1><br>
<h3>Stop eating lunch alone already!</h3><br>
<div class = "flex-container">
<% @users.each do |u| %>
<div class = "flex-card"><%= link_to u.username, user_path(u) %></div>
<%end%>
</div>

